.placeholder {
  background-color: rgb(226, 226, 226);
  height: 70vh;
  margin: 10px auto;
  width: 90%;
  display: flex;
  padding: 10px;
  border-radius: 10px;
}

.control-buttons {
  margin: 10px auto;
  width: 90%;
  display: flex;
  justify-content: center;
}